body {
    background-color: lightgray;
}

.navbar {
   
    word-spacing: 30px;
    float: right;
    transform: translate(-38%, -50%);
    padding-bottom: 5%;
}

#home {
    border: 1px solid rgb(1, 1, 36);
    background-color: #1b2130;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
  
}

#about {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
    
}

#gallery {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

#blog {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

#contact {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

.salon {
    border-style: solid;
    width: 100%;
    height: 15vh;
    background-color: #009a9a;
    
    border-color: #009a9a;
}


.logo {
    border: 1px solid rgb(1, 1, 36);
    box-sizing: border-box;
    width: 20%;
    height: 119px;
    background-color: rgb(1, 1, 36);
    color: white;
    text-align: center;
    margin: 1% 20%;
    padding: 5px;
}

h1 {
    font-size: 60px;
    text-align: center;

}

.section {
    margin-left: 20%;
    margin-top: 6%;
    margin-right: 12.5%;
}

.article1 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

}

.temp p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.article2 p {
    font-family: 'Times New Roman', Times, serif;
}

.moretemp {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.community {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.details {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.article4 li {
    list-style: none;
}

.article4 {
    line-height: normal;
}

/**/

.bt_header {
    border-style: solid;
    width: 100%;
    height: 15vh;
    background-color: #009a9a;
    margin-top: 7%;
    border-color: #009a9a;
    
}

.copyright p {
   text-align: center;
   font-weight: lighter;
   transform: translate(1px, 150%);
    
}

#social {
    float: right;
    border: 10px solid #387a82;
    background-color: #387a82;
    transform: translate(-100px, -30%);
    text-decoration: none;

}

#social i {
    font-size: 20px; 
    padding: 5px;
}

