
body {
    background-color: lightgray;
}

.navbar {
   
    word-spacing: 30px;
    float: right;
    transform: translate(-38%, -50%);
    padding-bottom: 5%;
}

#home {
    border: 1px solid rgb(1, 1, 36);
    background-color: #1b2130;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
  
}

#about {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
    
}

#gallery {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

#blog {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

#contact {
        border: 1px solid rgb(1, 1, 36);
        background-color: #1b2130;
        border-radius: 4px;
        color: white;
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
}

.salon {
    border-style: solid;
    width: 100%;
    height: 15vh;
    background-color: #009a9a;
    
    border-color: #009a9a;
}


.logo {
    border: 1px solid rgb(1, 1, 36);
    box-sizing: border-box;
    width: 20%;
    height: 119px;
    background-color: rgb(1, 1, 36);
    color: white;
    text-align: center;
    margin: 1% 20%;
    padding: 5px;
}

h1 {
    font-size: 60px;
    text-align: center;

}


table {
    margin-top: 3%;
    margin-left: 20%;
    
  
}

td {
    border:3px solid #009a9a;
    padding: 3px;
    box-shadow: 5px 10px 10px 5px;

}

td:hover {
        border:3px solid #009a9a;
        padding: 3px;
        box-shadow: 5px 10px 10px 5px;
        background-color: black;
    
}

.show {
    text-align: center;
    margin-top: 3%;
    color: black;
}


.bt_header {
    border-style: solid;
    width: 100%;
    height: 15vh;
    background-color: #009a9a;
    margin-top: 3%;
    border-color: #009a9a;
    
}

.copyright p {
    text-align: center;
    font-weight: normal;
    transform: translate(1px, 150%);
     
 }
 
 #social {
     float: right;
     border: 10px solid #387a82;
     background-color: #387a82;
     transform: translate(-100px, -30%);
     text-decoration: none;
 
 }
 
 #social i {
     font-size: 20px; 
     padding: 5px;
 }

 .name p {
    margin-left: 20%;
    font-size: 20px;
    margin-top: 3%;
    font-weight: lighter;
 }
 


/*
.copyright p {
  float: right;
    margin-top: 2.5%;
    transform: translate(400px, 75% );
    
}

#social {
float: right;
margin-left: 40%;
transform: translate(500px, -200%);
border: 6px solid #387a82;
padding: 5px;
background-color: #387a82;
text-decoration: none;
}

#social i {
   font-size: 20px; 
   padding: 5px;
}

*/